<div class="row">
  <div class="col s12">
    <div class="title">
      <h4>Create new Product</h4>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()" class="col s12">

            <div class="row">
              <div class="input-field col s6 display_none">
                <input id="productId" type="hidden" formControlName="productId"/>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text"
                       formControlName="name"/>
                <label for="name">Name of Product</label>

                <div class="input_invalid"
                     *ngIf="!createProductForm.get('name').valid && createProductForm.get('name').touched">
                  Required name
                </div>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="sku" type="text"
                       formControlName="sku"/>
                <label for="sku">Sku</label>

                <div class="input_invalid"
                     *ngIf="!createProductForm.get('sku').valid && createProductForm.get('sku').touched">
                  Required Sku
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="category" formControlName="category">
                  <option value="" disabled selected>Choose Category</option>
                  <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
                </select>
                <div class="input_invalid" *ngIf="createProductForm.get('category').invalid">
                  Required category
                </div>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="tags" type="text"
                       formControlName="tags"/>
                <label for="tags">Tags</label>
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('tags').valid && createProductForm.get('tags').touched">
                  Required tags
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="slogan" type="text"
                       formControlName="slogan"/>
                <label for="slogan">Slogan of Product</label>
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('slogan').valid && createProductForm.get('slogan').touched">
                  Required slogan
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s4">
                <i class="material-icons prefix">account_circle</i>
                <input id="manuName" type="text"
                       formControlName="manuName"/>
                <label for="manuName">Name of Manufacturer</label>
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('manuName').valid && createProductForm.get('manuName').touched">
                  Required name of manufacturer
                </div>
              </div>

              <div class="input-field col s4">
                <i class="material-icons prefix">account_circle</i>
                <input id="serialNumber" type="text"
                       formControlName="serialNumber"/>
                <label for="serialNumber">Serial number of Manufacturer</label>
              </div>


              <div class="input-field col s4">
                <i class="material-icons prefix">account_circle</i>
                <input id="location" type="text"
                       formControlName="location"/>
                <label for="location">Location of Manufacturer</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="actualPrice" type="text"
                       formControlName="actualPrice"/>
                <label for="actualPrice">Price</label>
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('actualPrice').valid && createProductForm.get('actualPrice').touched">
                  Required actual price
                </div>
              </div>

              <div class="col s6 mar_top_bottom_24">
                <a class="btn blue lighten-2" (click)="onSale()">Make this product in sale</a>
              </div>
            </div>

            <div class="row">
              <div *ngIf="isSale" class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="salePrice" type="text"
                       formControlName="salePrice"/>
                <label for="salePrice">Price for sale</label>
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('salePrice').valid && createProductForm.get('salePrice').touched">
                  Because you want to sale it. You must to determine the cost to sale.
                </div>
              </div>

              <div *ngIf="isSale" class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <span style="margin-left:45px;color: #928e8e;">Sale end At</span>
                <input id="saleEndDate" type="date"
                       formControlName="saleEndDate"
                />
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('saleEndDate').valid && createProductForm.get('saleEndDate').touched">
                  Required deadline for this sale.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">account_circle</i>
                <select materialize="material_select" [materializeSelectOptions]="selectStatus" formControlName="status">
                  <option value="" disabled selected>Product status</option>
                  <option *ngFor="let option of selectStatus" [value]="option.value">{{option.name}}</option>
                </select>
                <div class="input_invalid"
                     *ngIf="createProductForm.get('status').invalid">
                  Required status
                </div>
              </div>


              <div class="input-field col s4">
                <i class="material-icons prefix">account_circle</i>
                <input id="inStock" type="number"
                       min="1" max="10000"
                       formControlName="inStock"/>
                <label for="inStock">In stock</label>
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('inStock').valid && createProductForm.get('inStock').touched">
                  How many items do we have?
                </div>
              </div>

              <div class="input-field col s5">
                <i class="material-icons prefix">account_circle</i>
                <select materialize="material_select" [materializeSelectOptions]="selectGuarantees" formControlName="guarantee">
                  <option value="" disabled selected>Choose Guarantee</option>
                  <option *ngFor="let option of selectGuarantees" [value]="option.value">{{option.name}}</option>
                </select>
                <div class="input_invalid"
                     *ngIf="createProductForm.get('guarantee').invalid">
                  How long for the guarantee of this product?
                </div>
              </div>
            </div>

            <div class="row">
              <div id="specs_wrapper">
                <div class="col s12 mar_top_bottom_24" >
                  <button class="btn blue lighten-2" type="button" (click)="addSpecsOfProduct()">
                    Add specifications of product.
                  </button>
                </div>

                <div class="spec_wrapper">
                  <div class="col s3" formArrayName="specKeys">
                    <div class="input-field" *ngFor="let specKey of createProductForm.get('specKeys').controls; let i1 = index">
                      <input id="{{'key' + i1}}" type="text" [formControlName]="i1"/>
                      <label for="{{'key' + i1}}">Key</label>
                    </div>
                  </div>

                  <div class="col s9" formArrayName="specValues">
                    <div *ngFor="let specValue of createProductForm.get('specValues').controls; let i2 = index">
                      <div class="col s11 input-field" >
                        <input id="{{'value' + i2}}" type="text" [formControlName]="i2"/>
                        <label for="{{'value' + i2}}">Value</label>
                      </div>

                      <div class="col s1 mar_top_bottom_24">
                        <span>
                          <i class="material-icons"
                             *ngIf="i2"
                             (click)="removeSpec(i2)">
                            delete_forever
                          </i>
                        </span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <textarea id="description"
                          formControlName="description"></textarea>
                <label for="description">Description</label>
                <div class="input_invalid"
                     *ngIf="!createProductForm.get('description').valid && createProductForm.get('description').touched">
                  It must have some description.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col m6 center">
                <button class="btn blue lighten-2" type="submit" [disabled]="!createProductForm.valid">
                  Up Product<i class="material-icons right">send</i>
                </button>
              </div>
              <div class="col m6 center">
                <a class="btn blue lighten-2" (click)="resetForm()">
                  Reset
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-action">
        <a routerLink="../">Back</a>
      </div>
    </div>
  </div>

</div>
