<div class="box_review_wrapper">
  <div class="col s12 l12">
    <div class="col s1 l1">
      <i class="medium material-icons">group_work</i>
    </div>

    <div class="col s11 l11">
      <div class="col s10 l10">
        GuestVerified Buyer
      </div>
      <div class="col s2 l2">
        <div class="right">
          02/19/17
        </div>
      </div>

      <div class="col s12 l12">
        <i class="small material-icons">star</i>
        <i class="small material-icons">star</i>
        <i class="small material-icons">star</i>
        <i class="small material-icons">star</i>
        <i class="small material-icons">star</i>
      </div>

      <div class="col s12 l12">
        <div class="title_red">
          Quality sauna suit.
        </div>
        <div class="content">
          This product is as advertised. Thick, well made
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 l12">
    <div class="right">
      Was this review helpful?
      <span><i class="tiny material-icons">thumb_up</i></span>
      <span>0</span>
      <span><i class="tiny material-icons">thumb_down</i></span>
      <span>0</span>
    </div>
  </div>

</div>
