<div class="col s12 m3">
  <div class="card">
    <div class="card-image">
      <div class="my_card_image">
        <img src="assets/img/product-detail/p1.jpg">
      </div>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.</p>
      <div>
        <span>$24.74</span>
        <span><strong>$16.49</strong></span>
      </div>
    </div>
    <div class="card-action">
      <a href="#" class="waves-effect waves-light btn">Buy now</a>
    </div>
  </div>
</div>
