<div id="profile-page-sidebar" class="col s12 m3">

  <!-- Profile About  -->
  <div class="card light-blue">
    <div class="card-content white-text">
      <span class="card-title">About Me!</span>
      <p>I am a single person looking for a girlfriend, fit with me and make me every times I see her.</p>
    </div>
  </div>
  <!-- Profile About  -->

  <!-- Profile About Details  -->
  <div class="collection">
    <a routerLinkActive="active" routerLink="manage-account" class="collection-item">Manage Account</a>
    <a routerLinkActive="active" routerLink="orders" class="collection-item">Orders</a>
    <a routerLinkActive="active" routerLink="wishlist" class="collection-item">Wish List</a>
    <a routerLinkActive="active" routerLink="profile" class="collection-item">Profile</a>
    <a routerLinkActive="active" routerLink="email" class="collection-item">Email List</a>
    <a routerLinkActive="active" routerLink="coupon" class="collection-item">Coupon Code</a>
  </div>
  <!--/ Profile About Details  -->

  <!-- Profile About  -->
  <div class="card amber darken-2">
    <div class="card-content white-text center-align">
      <p class="card-title"><i class="mdi-social-group-add"></i> 3685</p>
      <p>Next Coupon Product</p>
    </div>
  </div>
  <!-- Profile About  -->

  <!-- Profile feed  -->
  <ul id="profile-page-about-feed" class="collection z-depth-1">
    <li class="collection-item avatar">
      <i class="mdi-file-folder circle"></i>
      <span class="title">New Project</span>
      <p>First Line of Project Work
        <br> <span class="ultra-small">Second Line</span>
      </p>
      <a href="#!" class="secondary-content"><i class="mdi-social-domain"></i></a>
    </li>
    <li class="collection-item avatar">
      <i class="mdi-action-assessment circle green"></i>
      <span class="title">New Payment</span>
      <p>Last UK Project Payment
        <br> <span class="ultra-small">$ 3,684.00</span>
      </p>
      <a href="#!" class="secondary-content"><i class="mdi-editor-attach-money"></i></a>
    </li>
    <li class="collection-item avatar">
      <i class="mdi-av-play-arrow circle red"></i>
      <span class="title">Latest News</span>
      <p>company management news
        <br> <span class="ultra-small">Second Line</span>
      </p>
      <a href="#!" class="secondary-content"><i class="mdi-action-track-changes"></i></a>
    </li>
  </ul>
  <!-- Profile feed  -->

</div>
