<div id="product_describes_wrapper">

  <div class="row">
    <div class="col s12">
      <h3>{{product?.name}}</h3>
    </div>

    <div class="col m4 l6">
      <div class="price">
        <div *ngIf="product?.details.price.sale">
          <span>Sale: </span>
          <span class="price_sale">
            {{product?.details.price?.sale | currency:'USD':true:'1.2-2'}}
          </span>
          End At:
          <span class="price_sale_end_at">
            {{product?.details.price?.saleEndDate | date: 'dd/MM/yyyy'}}
          </span>
        </div>

        <div *ngIf="product?.details.price.sale">
          <span>Actual payment: </span>
          <span class="price_actual">
            {{product?.details.price?.actual | currency:'USD':true:'1.2-2'}}
          </span>
        </div>
      </div>
    </div>

    <div class="col m8 l6">
      <div class="product_infor_wrapper">
        <div class="product_serial_number">
          Product SKU: <strong> {{product?.sku}}</strong>
        </div>

        <div class="product_instock">
          <span>In stock </span> <strong> {{product?.details?.inStock}} items</strong>
        </div>

        <div class="product_manufacturer">
          <span>Manufacturer: </span> <strong> {{product?.details?.manufacturer?.manuName}}</strong>
        </div>

        <div class="product_guarantee">
          <span>Guarantee: </span> <strong> {{product?.details?.guarantee}} Month</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="input-field col s6">
        <select materialize="material_select">
          <option value="" disabled selected>Choice your size</option>
          <option value="1">Small</option>
          <option value="2">Medium</option>
          <option value="3">Large</option>
        </select>
        <label>Size </label>
      </div>

      <div class="input-field col s6">
        <select materialize="material_select">
          <option value="" disabled selected>Choice your color</option>
          <option value="1">Black</option>
          <option value="2">White</option>
          <option value="3">Red</option>
          <option value="4">Green</option>
          <option value="5">Blue</option>
        </select>
        <label>Color </label>
      </div>

      <p class="required">* Required Fields</p>
    </div>

    <div class="col s12">
      <div class="add-to-cart">
        <div class="input-field col s3">
          <input placeholder="2" id="number" type="number" class="validate">
          <label for="number">Quantity</label>
        </div>

        <div class="col s6 margin_top_24">
          <button type="button" title="Add to Cart" id="product-addtocart-button" class="waves-effect waves-light btn">
            <span> <i class="small material-icons">shopping_cart</i></span> <span>Add to Cart</span></button>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="product-social-media">
        <ul class="list-inline">
          <li class="col s1" *ngFor="let socMe of socialMedia">
            <a href="{{socMe.href}}" title={{socMe.title}}>
              <img
            src={{socMe.src}}
            alt={{socMe.alt}}>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div><!-- product-social-media -->
    </div>

    <div class="col s12">
      <div class="delivery-returns">
        <strong>Delivery &amp; Returns</strong>
        <hr>
        <p>Shipping &amp; delivery information <a href="https://rdxsports.com/Shipment-and-Delivery/">click here</a><br>
          Return Policy <a href="https://rdxsports.com/return-policy/">click here</a></p>
      </div><!-- delivery-returns -->
    </div>

  </div>
</div>
