<div class="col-lg-4 col-md-4 col-sm-5 product-shop">

  <div class="row">

    <div class="col m4 l6">
      <div class="price">
        <span class="price">$46.49</span>
      </div>
    </div>

    <div class="col m8 l6 right">
      <div class="product_instock">
        <span>In stock</span>
      </div>
      <div class="product_serial_number">
        Product SKU: <strong>SST-X1U</strong>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l12">
      <div class="input-field col s12">
        <select materialize="material_select">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
      </div>

      <p class="required">* Required Fields</p>
    </div>

    <div class="col s12 l12">
      <div class="add-to-cart">
        <div class="input-field col s3">
          <input placeholder="2" id="number" type="number" class="validate">
          <label for="number">Quantity</label>
        </div>

        <div class="col s6 margin_top_24">
          <button type="button" title="Add to Cart" id="product-addtocart-button" class="waves-effect waves-light btn">
            <span> <i class="small material-icons">shopping_cart</i></span> <span>Add to Cart</span></button>
        </div>
      </div>
    </div>

    <div class="col s12 l12">
      <div class="product-social-media">
        <ul class="list-inline">
          <li class="col s1">
            <a href="#" title="Share on Facebook">
              <img
            src="https://cdnskin-esyrz3xlyt4.netdna-ssl.com/skin/frontend/rwd/rdxsports/images/social-media_19.jpg"
            alt="Facebook">
            </a>
          </li>
          <li class="col s1">
            <a href="#" title="Tweet"><img
            src="https://cdnskin-esyrz3xlyt4.netdna-ssl.com/skin/frontend/rwd/rdxsports/images/social-media_21.jpg"
            alt="Twitter">
            </a>
          </li>
          <li class="col s1">
            <a href="#" title="Pin it">
            <img src="https://cdnskin-esyrz3xlyt4.netdna-ssl.com/skin/frontend/rwd/rdxsports/images/social-media_23.jpg"
            alt="Pin">
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div><!-- product-social-media -->
    </div>

    <div class="col s12 l12">
      <div class="delivery-returns">
        <strong>Delivery &amp; Returns</strong>
        <hr>
        <p>Shipping &amp; delivery information <a href="https://rdxsports.com/Shipment-and-Delivery/">click here</a><br>
          Return Policy <a href="https://rdxsports.com/return-policy/">click here</a></p>
      </div><!-- delivery-returns -->
    </div>

  </div>
</div>
