<div id="profile-page-wall" class="col s12 m9">

  <div class="card-image">
    <div>Mã giảm giá của bạn</div>
    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="row padding_left center">
        <div class="title">
          <strong>Hiện tại bạn không có mã giảm giá nào.</strong>
          <div>
            Hãy Đăng ký nhận bản tin để thường xuyên được cập nhật về các chương trình khuyến mãi từ Lazada
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
