<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="material-icons">mode_edit</i>
  </a>
  <ul>
    <li (click)="changeBackgroundColor('#EF5350')">
      <a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
        <i class="material-icons">insert_chart</i>
      </a>
    </li>
    <li (click)="changeBackgroundColor('#7E57C2')">
      <a class="btn-floating deep-purple lighten-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
        <i class="material-icons">format_quote</i>
      </a>
    </li>
    <li (click)="changeBackgroundColor('#66BB6A')">
      <a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
        <i class="material-icons">publish</i>
      </a>
    </li>
    <li (click)="changeBackgroundColor('#FF7043')">
      <a class="btn-floating deep-orange" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
        <i class="material-icons">attach_file</i>
      </a>
    </li>
    <li (click)="changeBackgroundColor('#78909C')">
      <a class="btn-floating blue-grey" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
        <i class="material-icons">attach_file</i>
      </a>
    </li>
  </ul>
</div>

<footer class="page-footer" [ngStyle]="{'background-color': bgColor}">
  <div class="footer-copyright">
    <div class="container">
      <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
      <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
    </div>
  </div>
</footer>
