<!-- START HEADER -->
<app-header-man></app-header-man>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">

    <!-- START LEFT SIDEBAR NAV-->
    <app-sidenav-left></app-sidenav-left>
    <!-- END LEFT SIDEBAR NAV-->

    <!-- START CONTENT -->
    <section id="content">
      <router-outlet></router-outlet>
    </section>
    <!-- END CONTENT -->

  </div>
  <!-- END WRAPPER -->

</div>
<!-- END MAIN -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START FOOTER -->
<app-footer-man></app-footer-man>
<!-- END FOOTER -->
