.theme-box {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: 360px;
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.img_wrapper {
  height: 260px;
  overflow: hidden;
  object-fit: cover;
}
img {
  height: 260px;
  width:100%;
}

.theme-box:hover {
  -webkit-box-shadow: 0 0 47px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 47px -13px rgba(0,0,0,0.75);
  box-shadow: 0 0 47px -13px rgba(0,0,0,0.75);
}

.theme-box:hover .theme-info {
  height: 260px;
}
.theme-box .theme-header {
  clear: both;
  overflow: auto;
  border-bottom: 2px solid rgba(128, 128, 128, 0.3);
}
.theme-box .theme-info {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.53);
  height: 124px;
  transition: all 0.3s ease;
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.theme-box .theme-info h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 8px;
  float: left;
}
.theme-info h3 a {
  color: #555;
}

.ratings {
  float: right;
  overflow: hidden;
  padding-right: 8px;
  margin-top: 12px;
}
.ratings i {
  width: 14px;
  font-size: 18px;
}

.theme-box .theme-footer {
  padding: 10px;
}
.theme-body {
  background-color: rgba(171, 171, 171, 0.18);
}
.theme-body, .price_actual_wrapper, .price_sale_wrapper {
  clear: both;
  overflow: hidden;
}
.price_actual_wrapper .price{
  float: left;
  padding: 5px 10px;
  color: #0089ec;
  font-style: italic;
  font-size: 17px;
  font-weight: bold;
  margin: 6px 10px;
}
.status {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  color: white;
  background-color: red;
  font-weight: bold;
  margin: 6px 10px;
}

.price_sale_wrapper .sale_price{
  float: left;
  padding: 5px 10px;
  color: rgb(49, 81, 105);
  font-size: 15px;
  margin: 0 10px;
}
.price_sale_wrapper .sale_text {
  float: left;
  padding: 6px 10px;
  font-size: 14px;
}
.price_sale_wrapper .sale_end_date {
  float: right;
  padding: 5px 10px;
  font-weight: bold;
  color: rgba(244, 67, 54, 0.91);
  margin: 0 10px;
}

.footer_action {
  padding: 8px 0;
}

.footer_action > a {
  display: inline-block;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 2px;
  color: #555;
  margin: 0 2px;
  transition: background 0.25s;
  background: #eee;
}

a.btn_preview:hover {
  color: #fff;
  background-color: #337ab7;
}
a.btn_buy_now:hover {
  color: #fff;
  background-color: rgba(255, 53, 4, 0.85);
}
a.btn_add_to_cart:hover {
  color: #fff;
  background-color: #00bcd4;
}


