.card_content {
  overflow: auto;
}
.card-action {
  padding: 0 !important;
}
.card_action {
  overflow: auto;
  padding: 16px 24px 8px 24px;
  background-color: lavender;
}

.card_action_btn {
  display: inline-flex;
  line-height: 24px;
  cursor: pointer;
}
.card_action_btn > span {
  padding-left: 6px;
}

.cursor {
  cursor: pointer;
}


.ratings_bar_total {
  overflow: auto;
  padding: 8px;
}
.ratings_star {
  margin: 5px 10px 0 0;
  color: #faca51;
}
.ratings_number {
  display: block;
  margin-top: 5px;
  line-height: 23px;
  font-size: 14px;
  color: #6d6d6d;
}
.ratings_number > em {
  font-size: 22px;
  font-weight: bold;
  color: #202020;
  font-style: normal;
}
.ratings_text {
  margin-bottom: 25px;
  font-size: 12px;
  color: gray;
}


.ratings_bar_list {
  margin-top: 0;
}
.ratings_bar_list_item {
  border-spacing: 3px;
}
.ratings_bar_label {
  color: #666;
  font-size: 13px;
  font-family: Tahoma,sans-serif;
  padding-right: 9px;
}

.ratings_bar_line_cell {
  background-color: #ccc;
  border-right: 150px solid rgba(128, 128, 128, 0.1);
}
.ratings_bar_count {
  color: #666;
  font-size: 13px;
  font-family: Tahoma,sans-serif;
  padding-left: 5px;
}


.color_markable_yellow {
  border-right-color: #faca51;
}



/* Product rating form */
#product_rating {
  border-top: 3px solid #9ca73b;
  padding-top: 16px;
  overflow: auto;
}
.rating_form_aside h3 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 13px;
  font-weight: bold;
}
.rating_form_aside h4 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}
.rating_form_aside ul {
  font-size: 13px;
  line-height: 16px;
  list-style: disc;
  margin: 0;
  margin-top: 5px;
}
.rating_form_aside li {
  list-style: disc;
  margin-bottom: 5px;
}


/*Rating star */
.rating_star {
  margin: 10px 0;
}
.rating_form_author {
  padding: 10px;
}
