<!--start container-->
<section>
  <div id="invoice">
    <div class="invoice-header">
      <div class="row section">
        <div class="col s12 m6 l6">
          <img src="assets/img/cart/generic-logo.png" alt="company logo">
        </div>

        <div class="col s12 m6 l6">
          <div class="left">
            <div class="invoce-company-address">
              <span class="invoice-icon">
                <i class="small material-icons">language</i>
              </span>

              <p><span class="strong">Company Name LLC</span>
                <br>
                <span>125, ABC Street,</span>
                <br>
                <span>New Yourk, USA</span>
                <br>
                <span>+91-(444)-(333)-(221)</span>
              </p>
            </div>
          </div>

          <div class="right">
            <div class="invoce-company-contact">
            <span class="invoice-icon">
              <i class="small material-icons">email</i>
            </span>
            <p><span class="strong">www.exampledomain.com</span>
              <br>
              <span>info@exampledomain.com</span>
              <br>
              <span>admin@exampledomain.com</span>
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="invoice-lable cyan">
      <div class="row">
        <div class="col s12 m3 l3">
          <h4 class="white-text invoice-text">INVOICE</h4>
        </div>
        <div class="col s12 m9 l9 invoice-brief white-text">
          <div class="row">
            <div class="col s12 m4 l4">
              <p class="strong">Total Due</p>
              <h4 class="header">$ 3,600.00</h4>
            </div>
            <div class="col s12 m4 l4">
              <p class="strong">Invoice No</p>
              <h4 class="header">MT_A_124563</h4>
            </div>
            <div class="col s12 m4 l4">
              <p class="strong">Due Date</p>
              <h4 class="header">22.05.2015</h4>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="invoice-table">
      <div class="row">
        <div class="col s12 m12 l12">
          <table class="striped">
            <thead>
            <tr>
              <th>No</th>
              <th>Item</th>
              <th class="hide-on-small-only">Image</th>
              <th>Unit Price</th>
              <th>Unit</th>
              <th>Total</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1.</td>
              <td>MacBook Pro</td>
              <td class="hide-on-small-only">
                <div class="cart_image_wrapper">
                  <img src="assets/img/cart/p1.jpg" alt="p1">
                </div>
              </td>
              <td>$ 1,299.00</td>
              <td>
                <div class="input-field col s6 cart_quatity_wrapper">
                  <input placeholder="3" id="quantity" type="number" class="validate">
                  <label for="quantity">Quantity</label>
                </div>
              </td>
              <td>$ 1,100.00</td>
              <td><i class="small material-icons">delete</i></td>
            </tr>
            <tr>
              <td>2.</td>
              <td>iMAC</td>
              <td class="hide-on-small-only">
                <div class="cart_image_wrapper">
                  <img src="assets/img/cart/p1.jpg" alt="p1">
                </div>
              </td>
              <td>$ 1,099.00</td>
              <td>
                <div class="input-field col s6 cart_quatity_wrapper">
                  <input placeholder="3" id="quantity" type="number" class="validate">
                  <label for="quantity">Quantity</label>
                </div>
              </td>
              <td>$ 2,198.00</td>
              <td><i class="small material-icons">delete</i></td>
            </tr>
            <tr>
              <td>3.</td>
              <td>iPhone</td>
              <td class="hide-on-small-only">
                <div class="cart_image_wrapper">
                  <img src="assets/img/cart/p1.jpg" alt="p1">
                </div>
              </td>
              <td>$ 299.00</td>
              <td>
                <div class="input-field col s6 cart_quatity_wrapper">
                  <input placeholder="3" id="quantity" type="number" class="validate">
                  <label for="quantity">Quantity</label>
                </div>
              </td>
              <td>$ 1,495.00</td>
              <td><i class="small material-icons">delete</i></td>
            </tr>
            <tr>
              <td>4.</td>
              <td>iPad 3</td>
              <td class="hide-on-small-only">
                <div class="cart_image_wrapper">
                  <img src="assets/img/cart/p1.jpg" alt="p1">
                </div>
              </td>
              <td>$399.00</td>
              <td>
                <div class="input-field col s6 cart_quatity_wrapper">
                  <input placeholder="3" id="quantity" type="number" class="validate">
                  <label for="quantity">Quantity</label>
                </div>
              </td>
              <td>$ 399.00</td>
              <td><i class="small material-icons">delete</i></td>
            </tr>
            <tr>
              <td>5.</td>
              <td>iPod</td>
              <td class="hide-on-small-only">
                <div class="cart_image_wrapper">
                  <img src="assets/img/cart/p1.jpg" alt="p1">
                </div>
              </td>
              <td>$49.00</td>
              <td>
                <div class="input-field col s6 cart_quatity_wrapper">
                  <input placeholder="3" id="quantity" type="number" class="validate">
                  <label for="quantity">Quantity</label>
                </div>
              </td>
              <td>$ 98.00</td>
              <td><i class="small material-icons">delete</i></td>
            </tr>
            <tr>
              <td class="hide-on-small-only"></td>
              <td colspan="4" class="white"></td>
              <td>Sub Total:</td>
              <td>$ 5,290.00</td>
            </tr>
            <tr>
              <td class="hide-on-small-only"></td>
              <td colspan="4" class="white"></td>
              <td>Service Tax</td>
              <td>11.00%</td>
            </tr>
            <tr>
              <td class="hide-on-small-only"></td>
              <td colspan="4" class="white"></td>
              <td class="cyan white-text">Grand Total</td>
              <td class="cyan strong white-text">$ 5,871.90</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="invoice-footer">
      <div class="row">
        <div class="col s12 m6 l6">
          <p><strong>Payment Method</strong></p>
          <p>Please make the cheque to: AMANDA ORTON</p>
          <p><strong>Terms &amp; Condition</strong></p>
          <ul>
            <li>You know, being a test pilot isn't always the healthiest business in the world.</li>
            <li>We predict too much for the next year and yet far too little for the next 10.</li>
          </ul>
        </div>
        <div class="col s12 m6 l6 center-align">
          <p>Approved By</p>
          <img src="assets/img/cart/signature-scan.png" alt="signature">
          <p class="header">AMANDA ORTON</p>
          <p>Managing Director</p>
        </div>
      </div>
    </div>

  </div>
  <!-- Floating Action Button -->
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large mdi-editor-mode-edit"></i>
    </a>
    <ul>
      <li><a href="css-helpers.html" class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-communication-live-help"></i></a></li>
      <li><a href="app-widget.html" class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-device-now-widgets"></i></a></li>
      <li><a href="app-calendar.html" class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-insert-invitation"></i></a></li>
      <li><a href="app-email.html" class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-communication-email"></i></a></li>
    </ul>
  </div>
  <!-- Floating Action Button -->
</section>
<!--end container-->
