<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <button type="button" class="light-green" (click)="color='lightgreen'">Light Green</button>
  <button type="button" class="yellow" (click)="color='yellow'">Yellow</button>
  <button type="button" class="cyan" (click)="color='cyan'">Cyan</button>
</div>
<p [appBasicHighlight]="color">Highlight me!</p>

<p appBetterHighlight>Highlight me!</p>


<div class="container">
  <div class="row">

    <div class="col s12 m12 l3">
      <h4>Saugroboter <span>(34)</span></h4>
    </div>

    <div class="col s12 m12 l9">
      <ul class="row">
        <li class="col s12 m6 l4">
          <app-custom-card></app-custom-card>
        </li>
        <li class="col s12 m6 l4">
          <app-custom-card></app-custom-card>
        </li>
        <li class="col s12 m6 l4">
          <app-custom-card></app-custom-card>
        </li>
        <li class="col s12 m6 l4">
          <app-custom-card></app-custom-card>
        </li>
      </ul>
    </div>

  </div>
</div>
