/* You can add global styles to this file, and also import other style files */

.mar_pad_0 {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.pad_8 {
  padding: 8px !important;
}
.pad_left_8 {
  padding-left: 8px !important;
}
.pad_right_8 {
  padding-right: 8px !important;
}
.pad_left_right_8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.pad_top_bottom_8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}


.pad_16 {
  padding: 16px !important;
}
.pad_left_16 {
  padding-left: 16px !important;
}
.pad_right_16 {
  padding-right: 16px !important;
}
.pad_left_right_16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.pad_top_bottom_16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}


.pad_24 {
  padding: 24px !important;
}
.pad_left_24 {
  padding-left: 24px !important;
}
.pad_right_24 {
  padding-right: 24px !important;
}
.pad_left_right_24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.pad_top_bottom_24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}


.pad_36 {
  padding: 36px !important;
}
.pad_left_36 {
  padding-left: 36px !important;
}
.pad_right_36 {
  padding-right: 36px !important;
}
.pad_left_right_36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}
.pad_top_bottom_36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}


.mar_8 {
  margin: 8px !important;
}
.mar_left_8 {
  margin-left: 8px !important;
}
.mar_right_8 {
  margin-right: 8px !important;
}
.mar_left_right_8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mar_top_bottom_8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}


.mar_16 {
  margin: 16px !important;
}
.mar_left_16 {
  margin-left: 16px !important;
}
.mar_right_16 {
  margin-right: 16px !important;
}
.mar_left_right_16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.mar_top_bottom_16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}


.mar_24 {
  margin: 24px !important;
}
.mar_left_24 {
  margin-left: 24px !important;
}
.mar_right_24 {
  margin-right: 24px !important;
}
.mar_left_right_24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.mar_top_bottom_24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}


.mar_36 {
  margin: 36px !important;
}
.mar_left_36 {
  margin-left: 36px !important;
}
.mar_right_36 {
  margin-right: 36px !important;
}
.mar_left_right_36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}
.mar_top_bottom_36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}




.padding_left {
  padding-left: 16px !important;
}
.padding_right {
  padding-right: 16px !important;
}
.padding_top_16 {
  padding-top: 16px !important;
}
.padding_top_bottom {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.padding_8 {
  padding: 8px !important;
}
.padding_16 {
  padding: 16px !important;
}
.padding_24 {
  padding: 24px !important;
}


.title_normal_20 {
  font-size: 20px;
  font-weight: bold;
}
.title_normal_24 {
  font-size: 24px;
  font-weight: bold;
}
.title_normal_30 {
  font-size: 30px;
  font-weight: bold;
}



.margin_top_24 {
  margin-top: 24px !important;
}

.title_red {
  font-weight: bold;
  color: red;
}

.my_breadcrumb {
  background-color: #f5f5f5;
}
.my_breadcrumb > * {
  color: #000;
}

.container {
  width: 94% !important;
}
.my_row {
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-color: #f7f7f7;
}






/*
  Using loader here
*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eceff1;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

#loader-wrapper .loader-section.section-left {
  left: 0
}

#loader-wrapper .loader-section.section-right {
  right: 0
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite
}

#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url("./assets/img/manager/user-bg.jpg") no-repeat center center;
  z-index: 1001
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out
}

.progress {
  background-color: rgba(255, 64, 129, 0.22)
}

.no-js #loader-wrapper {
  display: none
}

/*
  End Using loader here
*/
