/* You can add global styles to this file, and also import other style files */

.padding_left {
  padding-left: 16px !important;
}
.padding_right {
  padding-right: 16px !important;
}
.padding_top_16 {
  padding-top: 16px !important;
}
.padding_top_bottom {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.padding_8 {
  padding: 8px !important;
}
.padding_16 {
  padding: 16px !important;
}
.padding_24 {
  padding: 24px !important;
}


.margin_top_24 {
  margin-top: 24px !important;
}

.title_red {
  font-weight: bold;
  color: red;
}

.my_breadcrumb {
  background-color: #f5f5f5;
}
.my_breadcrumb > * {
  color: #000;
}

.container {
  width: 94% !important;
}
.my_row {
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-color: #f7f7f7;
}
