<div class="row">
  <div id="header_categories">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="col s12">
      <div class="row">

        <div class="input-field col s12 m6 l6">
          <input id="search"
                 type="text"
                 class="validate"
                 formControlName="search"/>
          <label for="search">Search</label>

          <div class="col s6">
            <button class="btn blue lighten-2" type="submit">
              Search<i class="material-icons right">send</i>
            </button>
          </div>

        </div>

        <div class="input-field col s6 m4 l4">
          <i class="material-icons prefix">account_circle</i>
          <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="selectProducts" formControlName="selectProducts">
            <option value="" disabled selected>Choose Products</option>
            <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
          </select>
        </div>

        <div class="input-field col s6 m2 l2">
          <input id="numberProduct"
                 type="number"
                 class="validate"
                 min="5" max="200"
                 formControlName="numberProduct"/>
          <label for="numberProduct">Items/Page</label>
        </div>

      </div>
    </form>
  </div>
</div>


<div class="row">
  <div id="body_categories">
    <div class="col s12">
      <div id="content_categories">
        <ul class="row produktliste">
          <li data-url-follow="/roboter/saugroboter/irobot-roomba-780/"
              class="col s12 m6 l4"
              *ngFor="let prod of products; let ind = index;">
            <app-single-product [product] = "prod" [ind] = "ind"></app-single-product>
          </li>
        </ul>
      </div>
    </div>

    <div class="col s12">
      <div id="pagination_categories">
        <nav>
          <ul class="pagination right padding_right">
            <li class="active"><a>1</a></li>
            <li><a href="/suche/searchAll/24">2</a></li>
            <li><a href="/suche/searchAll/24">&gt;</a></li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>
