<!--start container-->
<div class="container">

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!--Write content here-->

  <div class="row">
    <section class="col l12 s12">
      <div class="card">
        <div class="card-content">
          <div class="indigo pad_16">
            <a [routerLink]="['../']" class="white-text">Back to Website</a>
          </div>
          <div class="padding_24">
            <h4 class="center">Thông tin cá nhân</h4>

            <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="col s12">
              <div class="row">

                <div class="col s12">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username"
                           type="text"
                           class="validate"
                           formControlName="username"/>
                    <label for="username">Username</label>
                  </div>
                  <div class="col s6 mar_top_bottom_24">
                    <p>{{manager?.username}}</p>
                  </div>
                </div>

                <div class="col s12">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">face</i>
                    <input id="gender"
                           type="text"
                           class="validate"
                           formControlName="gender"/>
                    <label for="gender">Gender</label>
                  </div>
                  <div class="col s6 mar_top_bottom_24">
                    <p>{{manager?.gender}}</p>
                  </div>
                </div>

                <div class="col s12">
                  <h4>Social Network</h4>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">face</i>
                    <input id="facebook"
                           type="text"
                           formControlName="facebook"
                           class="validate"/>
                    <label for="facebook">Facebook</label>
                  </div>

                  <div class="col s6 mar_top_bottom_24">
                    <p>http://www.facebook.com/thieunv95</p>
                  </div>
                </div>

                <div class="col s12">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">face</i>
                    <input id="twitter"
                           type="text"
                           formControlName="twitter"
                           class="validate"/>
                    <label for="twitter">Twitter</label>
                  </div>

                  <div class="col s6 mar_top_bottom_24">
                    <p>http://www.twitter.com/nguyenthieu2102</p>
                  </div>
                </div>

                <div class="col s12">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">face</i>
                    <input id="google"
                           type="text"
                           formControlName="google"
                           class="validate"/>
                    <label for="google">Google</label>
                  </div>
                  <div class="col s6 mar_top_bottom_24">
                    <p>http://www.google.com/ThieuNv</p>
                  </div>
                </div>

                <div class="col s12 mar_top_bottom_24">
                  <h4 class="col s6">Role base:</h4>
                  <ul class="col s6">
                    <li *ngFor="let rol of manager?.role"> {{rol}} </li>
                  </ul>
                </div>

                <div class="col s12 mar_top_bottom_24">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">face</i>
                    <input id="message"
                           type="text"
                           formControlName="message"
                           class="validate"/>
                    <label for="message">Message</label>
                  </div>
                  <div class="col s6">
                    <ul>
                      <li *ngFor="let mes of manager?.messages"> {{mes}}</li>
                    </ul>
                  </div>
                </div>

               <div class="col s12 mar_top_bottom_24">
                 <div class="input-field col s6">
                   <i class="material-icons prefix">face</i>
                   <input id="about"
                          type="text"
                          formControlName="about"
                          class="validate"/>
                   <label for="about">About</label>
                 </div>
                 <div class="col s6"> {{manager?.about}}</div>
               </div>

                <div class="row">
                  <div class="col s12 center">
                    <button class="btn blue lighten-2">
                      Cập nhật<i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- //////////////////////////////////////////////////////////////////////////// -->

</div>
<!--end container-->
