<div class="card">
  <div class="card-image">
    <img src="assets/img/product/p1.jpg" alt="iRobot Roomba 780">
  </div>
  <div class="card-content">
    <h3><a href="/roboter/saugroboter/irobot-roomba-780/">iRobot Roomba 780</a></h3>
    <span class="price-used">EUR 410.75 <i>gebraucht</i></span>
  </div>
  <div class="card-action padding_8">
    <div class="row my_row">
      <div class="col s6">
        <span><i class="tiny material-icons">star</i></span>
        <span><i class="tiny material-icons">star</i></span>
        <span><i class="tiny material-icons">star</i></span>
        <span><i class="tiny material-icons">star</i></span>
        <span><i class="tiny material-icons">star</i></span>
      </div>

      <div class="col s6">
        <div class="col l12"><span>ab 499.00 </span>€</div>
        <div class="col l12"><span>649.99 €</span></div>
      </div>

    </div>
  </div>
</div>
